/**
 * ------------------------------------------------------------------
 * Sass 颜色值
 *
 * ------------------------------------------------------------------
 */


// default background
$cl-bg : #fff;

// little grayer
$cl-bg-aux : #f3f3f3;

// background in count down and tips
$cl-bg-gr : #999;

// main font color
$cl-main : #333;

// auxiliary, grayer font color
$cl-aux : #666;

// border
$cl-bd : #e0e0e0;


// orange
$cl-og : #eb4509;

// new index font color
$cl-yl: #ff9d00;

// combine orange and red
$cl-or : #ff7950;

// blue
$cl-bl : #4294f7;

// white
$cl-wt : #fff;

// black
$cl-bk: #1a1919;