
@import "../../assets/scss/support";

.order-details{
  position: relative;
  
  width: 100%;
  height: 100%;
  @include commonhead();

  &-bg{
    width: 100%;
    height: 170px;
    padding: 25px 15px 0 15px;
    box-sizing: border-box;
    //background-color: pink;

    background: linear-gradient(#51bcf6, #3097e5, #1f83dd);
  }

  &-content{
    padding: 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    padding-bottom: 55px;

    &-conts{
      padding: 20px 20px 10px;
      color: $cl-aux;
      box-sizing: border-box;
      font-size: 14px;
      background: $cl-bg;
      border-radius: 10px;
      
      .num{
        padding: 5px 0;
        margin: 5px auto 35px;
        font-size: 16px;
        color: $cl-aux;
        text-align: center; 
        border-radius: 15px;
        border: 2px solid #efeff4;
      }

      .desc{
        margin-bottom: 33px;
        display: flex;
        overflow: hidden;
        clear: both;
        align-items: center;

        .img{
          margin-right: 22px;

          image{
            width: 60px;
            height: 60px;
          }
        }

        .txt{
          flex: 1;
          color: $cl-main;

          .name{
            font-size: 17px;
          }

          .address{
            margin: 3px 0;
            font-size: 13px;
          }

          .date{
            color: $cl-bg-gr;
          }
        }
      }

      .list{
          
        .item{
          padding: 10px 0;
          display: flex;
          border-top: 2px solid #efeff4;
          font-size: 17px;
          color: $cl-main;

          &:nth-last-child(2){
            border-bottom: 2px solid #efeff4;
          }

          .name{
            flex: 2;
          }
      
          .number{
            flex: 1;
            font-size: 14px;
            color: $cl-aux;
            text-align: right;
          }

          .price{
            flex: 1;
          }
        }

        .total{
          margin-top: 12px;
          margin-bottom: 13px;
          font-size: 17px;
          color: $cl-main;
          text-align: right;
        }
      }
    }

    .btn{
      @include commonbutton();

      margin: 25px auto;
      width: 28.9%;
      border-radius: 34px;
    }
  }
}



